:root {
  --vp-layout-max-width: 1660px;
  /** 主题颜色 */
  --vp-c-brand-1: #00C864;
  --vp-c-brand-2: #00A050;
  --vp-c-brand-3: #33E080;
  --vp-c-brand-soft: rgba(0, 200, 100, 0.314);
 
  /** 背景颜色 */

  /*
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;
  */

  /** 文本颜色 */

  /*
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);
  */
}

/** 深色模式 */
[data-theme="dark"] {
  
  --vp-c-brand-1: #00C864;
  --vp-c-brand-2: #00A050;
  --vp-c-brand-3: #33E080;
  --vp-c-brand-soft: rgba(0, 200, 100, 0.314);
 

  /*
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
  */

  /*
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
  */
}

.vp-content {
  background: var(--vp-c-bg);
}

/* page */
.vp-page {
  max-width: 1660px !important;
  padding: 32px 150px !important;
}

@media screen and (max-width: 768px) {
  .vp-page {
    padding: 24px 16px !important;
    min-width: 300px;
  }
}

.page-title {
  font-size: 28px !important;
  font-weight: 700 !important;
  padding: 0 20px 0 !important;
  margin: 0 !important;
}

/* friends */
.vp-friends {
  max-width: 1400px !important;
  padding: 0 !important;
}

.vp-friends .title {
  color: var(--vp-c-brand-1) !important;
  padding: 40px 0 0 0 !important;
}

@media screen and (max-width: 768px) {
  .vp-friends {
    padding-top: 20px !important;
  }
}

.vp-friends-group {
  padding-top: 0 !important;
}

.vp-friend {
  border-radius: 16px !important;
  transition: transform 0.3s;
  background-color: #c8c8c81a !important;
}

.vp-friend:hover {
  transform: translateY(-5px);
}

.friends-list {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

@media screen and (max-width: 768px) {
  .friends-list {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

.avatar {
  padding: 8px;
  border-radius: 16px !important;
  display: flex;
  background-color: transparent !important;
}

.avatar img {
  object-fit: contain !important;
  object-position: center !important;
}

.vp-link.title {
  color: var(--vp-c-text-1) !important;
}

/*  Image Display Light / Dark Mode  */
[data-theme="dark"] img:is(.light) {
  display: none;
}

[data-theme="light"] img:is(.dark) {
  display: none;
}