:root {
  --vp-layout-max-width: 1660px;
  /** 主题颜色 */
  /* --vp-c-brand-1: #00C864;
  --vp-c-brand-2: #00A050;
  --vp-c-brand-3: #33E080;
  --vp-c-brand-soft: rgba(0, 200, 100, 0.314); */
 
  /** 背景颜色 */
  /*
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;
  */

  /** 文本颜色 */
  --vp-c-text-1: rgb(60, 60, 67);
  --vp-c-text-2: rgb(60, 60, 67);
  --vp-c-text-3: rgb(60, 60, 67);

  /* 公告板 */
  --vp-bulletin-border: conic-gradient(#4E849C, #74A5B9, #74A5B9);
  --vp-bulletin-width: 440px;
}

/** 深色模式 */
[data-theme="dark"] {
  /* --vp-c-brand-1: #00C864;
  --vp-c-brand-2: #00A050;
  --vp-c-brand-3: #33E080;
  --vp-c-brand-soft: rgba(0, 200, 100, 0.314); */

  /*
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
  */

  --vp-c-text-1: rgb(255, 255, 245);
  --vp-c-text-2: rgb(235, 235, 245);
  --vp-c-text-3: rgb(235, 235, 245);
}

@media screen and (max-width: 768px) {
  :root {
    --vp-bulletin-width: 390px;
    --vp-bulletin-title-font-size: 16px;
    --vp-bulletin-font-size: 14px;
    --vp-bulletin-line-height: 20px;
  }
}

.vp-social-link .vp-icon {
  width : 20px !important;
  height: 20px !important;
}

.vp-bulletin .container {
  padding: 0 !important;
}

.vp-content {
  background: var(--vp-c-bg);
}

ul li::marker {
  color: var(--vp-c-brand-1) !important;
}

/* page */
.vp-page {
  max-width: 1660px !important;
  padding: 32px 150px !important;
}

@media screen and (max-width: 768px) {
  .vp-page {
    padding: 24px 16px !important;
    min-width: 300px;
  }
}

.page-title {
  font-size: 28px !important;
  font-weight: 700 !important;
  padding: 0 20px 0 !important;
  margin: 0 !important;
}

/* friends */
.vp-friends {
  max-width: 1400px !important;
  padding: 0 !important;
}

.vp-friends .title {
  color: var(--vp-c-brand-1) !important;
  padding: 40px 0 0 0 !important;
}

@media screen and (max-width: 768px) {
  .vp-friends {
    padding-top: 20px !important;
  }
}

.vp-friends-group {
  padding-top: 0 !important;
}

.vp-friend {
  border: solid 1px var(--vp-c-divider);
  border-radius: 12px !important;
  background-color: #c8c8c81a !important;
}

.vp-friend:hover {
  border: solid 1px var(--vp-c-brand-2);
}

.avatar {
  padding: 8px;
  border-radius: 16px !important;
  display: flex;
  background-color: transparent !important;
}

.avatar img {
  object-fit: contain !important;
  object-position: center !important;
}

.vp-link.title {
  color: var(--vp-c-text-1) !important;
}
