:root {
    --vp-layout-max-width: 1660px;
}

.content-container {
  margin: 0 !important;
}

.vp-doc-container.has-aside .content-container {
  max-width: 1000px !important;
}

.vp-page {
  padding: 48px 150px !important;
}

.vp-content {
  background: var(--vp-c-bg);
}

/*  Image Display Light / Dark Mode  */
[data-theme="dark"] .vp-doc img:is(.light) {
  display: none;
}

[data-theme="light"] .vp-doc img:is(.dark) {
  display: none;
}